// style
$primary-box-shadow: 1px 1px 10px 5px #eee;
$secondary-box-shadow: 1px 1px 5px 3px #eee;
$primary-inner-padding: 15px 20px;
$secondary-inner-padding: 10px 15px;
$header-height: 4rem;
$medium-header-height: 6rem;
$big-header-height: 8rem;
$priamry-border-radius: 10px;
$secondary-border-radius: 20px;

// colors
$gray800: rgba(0, 0, 0, 0.8);
$gray500: rgba(0, 0, 0, 0.5);

//breakpoints
$breakpoint-fold: 280px; // Galaxy Fole
$breakpoint-mobile: 375px; // iPhone SE
$breakpoint-tablet: 768px; // iPad Mini
$breakpoint-labtop: 1024px; // Mac 14 air
