// style
$primary-box-shadow: 1px 1px 10px 5px #eee;
$secondary-box-shadow: 1px 1px 5px 3px #eee;
$primary-inner-padding: 15px 20px;
$secondary-inner-padding: 10px 15px;

//breakpoints
$breakpoint-fold: 280px; // Galaxy Fole
$breakpoint-mobile: 375px; // iPhone SE
$breakpoint-tablet: 768px; // iPad Mini
$breakpoint-labtop: 1024px; // Mac 14 air
$breakpoint-desktop: 1920px; // 27
