@import '../abstracts/variables';

.introduction {
  @include flexbox(flex, center, center);
  flex-direction: column;
  padding-top: $big-header-height;

  .introduction__heading {
    @include labtop {
      font-size: 2rem;
    }

    @include tablet {
      font-size: 1.2rem;
    }

    font-size: 2.5rem;
    margin-bottom: 1.4rem;
  }

  > section {
    @include tablet-min {
      @include flexbox(flex, center, center);
    }
    text-align: center;
  }

  .introduction__img {
    @include tablet {
      width: 150px;
      height: 150px;
    }
    @include fadein(0.3s, 0, 0);
  }

  .introduction__contact {
    @include flexbox(flex, center, start);
    flex-direction: column;
    margin-left: 2rem;

    > * {
      color: black;
    }

    > *:not(:last-child) {
      margin-bottom: 1.4rem;
    }
  }

  .introduction__tab-bar--container {
    margin-top: 2rem;

    .tab-bar {
      .tab-bar__subtitle {
        @include flexbox(flex, center, center);
        height: 5rem;
        border-radius: 20px;
        background-color: rgba(240, 240, 240, 0.4);
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
          transform: scale(1.04);
          box-shadow: $primary-box-shadow;
        }
      }

      .tab-bar__subcontent {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
      }

      .tab-bar__subcontent--inner {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: auto;
        padding: 4rem;
        border-radius: $priamry-border-radius;
        background-color: white;
        @include fadein(0.2s, 0, 0);
      }

      .close-modal__btn {
        position: absolute;
        border-radius: 100%;
        padding: 5px;
        background-color: #eee;
        right: 40px;
        top: 30px;
        cursor: pointer;
        &:hover {
          background-color: #e5e4e4;
        }
      }
      .tab-bar__title {
        text-align: center;
        font-size: 1.5rem;
      }

      .tab-bar__list {
        @include fadein(0.8s, 0, 0);
        margin-bottom: 1.5rem;
      }
    }
  }
}
