.projects {
  @include tablet-max {
    padding-top: $header-height;
    font-size: 0.8rem;
  }
  padding-top: $medium-header-height;
}

.projects__tablist {
  display: flex;
  list-style: none;

  > li {
    @include tablet-max {
      font-size: 0.9rem;
    }

    font-weight: 700;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
      margin-right: 1.1rem;
    }

    > * {
      text-decoration: none;
      color: $gray500;
    }
  }

  .nav-clicked {
    border-bottom: 2px solid $gray800;
  }
}
