@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue',
    'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Symbol', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h2 {
  font-weight: 600;
  margin: 0;
}

menu {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 15px 20px;
  background-color: white;
  box-shadow: 1px 1px 10px 5px #eee;
  box-sizing: border-box;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 2;
}
.header__nav .header__logo {
  font-size: 1.2rem;
  font-weight: 500;
}
@media (max-width: 767px) {
  .header__nav .nav__bar {
    display: none;
  }
}
.header__nav .nav__bar .nav__links > * {
  height: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  box-sizing: border-box;
}
.header__nav .nav__bar .nav__links .nav--contact-list > *:not(:first-child) {
  margin-left: 2rem;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}
.nav__links > *:hover:not(:last-child) {
  cursor: pointer;
  background-color: #eee;
}
.nav__links > *:hover:not(:last-child) > * {
  color: black;
}
.nav__links .nav--contact-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav__links--link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.nav__menu {
  position: relative;
  cursor: pointer;
}
@media (min-width: 768px) {
  .nav__menu {
    display: none;
  }
}
.nav__menu .nav__menu--modal {
  position: absolute;
  right: 0;
  top: 30px;
  width: 7rem;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px #eee;
  background-color: white;
  overflow: hidden;
  padding: 0;
}
@media (min-width: 768px) {
  .nav__menu .nav__menu--modal {
    display: hidden;
  }
}
.nav__menu .nav__menu--modal .nav__links {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.nav__menu .nav__menu--modal .nav__links > * {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
}

.activity {
  animation: box-fadein 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 8rem;
  font-size: 1.1rem;
  margin: 0 15px;
}
@keyframes box-fadein {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 767px) {
  .activity {
    padding-top: 4rem;
  }
}

.activity--inner {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 80%;
  padding: 1.3rem;
  margin-bottom: 1.3rem;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 5px #eee;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .activity--inner {
    font-size: 0.7rem;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .activity--inner {
    font-size: 0.8rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .activity--inner {
    font-size: 0.9rem;
  }
}

.activity__title--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 767px) {
  .activity__title--container {
    flex-direction: column;
  }
}

.activity__time {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  .activity__time {
    font-size: 0.7rem;
  }
}

.activity__description {
  display: block;
  margin-top: 1.2rem;
  color: rgba(0, 0, 0, 0.8);
}

.activity__links--list {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0;
  list-style: none;
  flex-grow: 2;
}
.activity__links--list > li {
  margin-left: 6px;
}
.activity__links--list > li > a {
  color: gray;
}

.contents {
  padding: 1rem 0;
}
.contents > ul > li {
  margin: 1.2rem 0;
}

.skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 'left-top left-top left-top right-top right-top' 'left-bottom left-bottom left-bottom right-bottom right-bottom';
  padding-top: 8rem;
  margin: 0 3rem;
}
@media (max-width: 767px) {
  .skills {
    display: flex;
    flex-direction: column;
  }
}
.skills > :nth-child(1) {
  animation: box-fadein 0.2s ease-in-out;
  grid-area: left-top;
}
@keyframes box-fadein {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.skills > :nth-child(2) {
  animation: box-fadein 0.4s ease-in-out;
  grid-area: right-top;
}
@keyframes box-fadein {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.skills > :nth-child(3) {
  animation: box-fadein 0.6s ease-in-out;
  grid-area: left-bottom;
}
@keyframes box-fadein {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.skills > :nth-child(4) {
  animation: box-fadein 0.8s ease-in-out;
  grid-area: right-bottom;
}
@keyframes box-fadein {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.skillbox {
  padding: 2rem;
  margin: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 5px #eee;
}
.skillbox > h3 {
  display: block;
  margin: 0;
  margin-bottom: 1.6rem;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}

.icon__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.icon__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icon__item > * {
  font-size: 40px;
  text-align: center;
}
.icon__item > :last-child {
  font-size: 0.7rem;
}
